
footer.footer
    
    .footer__top
        .container
            .row.footer-top
                .col-xs-4.footer-top__left
                    a(href="/").logo
                        img.header__image(src='./assets/img/files/logo-footer.png' alt='')  
                    +socials('socials', socials) 
                .col-xs-12.col-lg-8.footer-top__right 
                    +menu("footer-menu", menu, 2)
                    .row.footer-top__contacts 
                        .col-xs-6
                            .phone 
                                .phone__icon.icon-office-telephone-footer   
                                .phone__number +7 (9999) 99-99-99
                        .col-xs-6
                            .phone 
                                .phone__icon.icon-phone-footer    
                                .phone__number +7 (999) 999-99-99
    .footer__bottom
        .container
            .row.footer-bottom
                .col-xs-12.col-md-6.footer-bottom__left 
                    .copyright © 2018. Все права защищены.
                .col-xs-12.col-md-6.footer-bottom__right
                    .footer-bottom__counter.counter
                        img(src="./assets/img/files/counter.png", alt="")
                    .footer-bottom__made-in.made-in Сделано в компании 
                        a(target="_blank" href="http://yasim.ru/") ЯСИМ

.preloader

.success-message(id='success-message')
    .success-message__box
        .success-message__text Спасибо! Ваша заявка успешно отправлена!
        .success-message__text Мы свяжемся с Вами в ближайшее время.
        .button.color_white.success-message__button Продолжить

