.popup-order 
    .popup-order__container
        .popup-order__box   
            .popup-order__top
                h2.popup-order__head Оставьте заявку  
                .popup-order__close 
            .popup-order__descr
            .popup-order__body 
                form.form-page.form-page_border_none.popup-order__form
                    +fields-all("popup-order", poup_form, 0)