.popup-order 
    .popup-order__container
        .popup-order__box   
            .popup-order__top
                h2.popup-order__head Оставьте заявку  
                .popup-order__close 
            .popup-order__descr
            .popup-order__body 
                form.form-page.form-page_border_none.popup-order__form
                    +fields-all("popup-order", poup_form, 1)

.preloader

.success-message(id='success-message')
    .success-message__wrap
        .success-message__box
            .success-message__text Спасибо! Ваша заявка успешно отправлена!
            .success-message__text Мы свяжемся с Вами в ближайшее время.
            .button.button_red.success-message__button Продолжить