.catalog-item {
    display: flex;
    align-items: flex-start;
    //flex-direction: column;
    //justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;

    &__img {
        display: block;
        width: 100%;
    }

    &__photo {
        display: block;
    }

    &__name {
        display: flex;
        width: 100%;
        color: #474747;
        text-decoration: none;
        padding: 20px;
        height: 80px;
        @include lg() {
            padding: 15px;
        }
        @include md() {
            padding: 10px;
        }
    }
}