.content {
    padding-top: 20px;
    padding-bottom: 40px;
    @include lg() {
        margin-top: 0px;    
    }

    &__left {
        @include lg() {
            display: none;   
        }    
    }

    &__right {
        
    }
}

