.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -3px;
    &__item {
        display: block; 
        padding: 3px;
        width: 16.66%;
    }
    &__item-small {
        display: block; 
        padding: 3px;
        width: 10%;
    }

    &__link {
        display: block;
        position: relative;
        transition-property: all;
        transition-duration: .7s;
        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background: rgba($color: #000000, $alpha: 0.2);
            transition-property: background-color;
            transition-duration: .7s;
        }  
        &:hover{
            transform: skew(-10deg, 10deg);
            &:after {
                background-color: transparent;
            }
        }
    }

    &__img {
        display: block;    
    }
}