.product-item {

    background: #fff;
    display: block;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    &__img {
        display: block;
        position:relative;
        color: #fff;
        &:hover {
            color: #fff;    
        }    
    }

    &__photo {
        display: block;
        margin: 0 auto;  
    }

    &__price {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;  
        padding: 7px 20px;
        background: #314b7e;
    }

    &__header {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #484848;
        text-align: center;
        &:hover {
            color: #314b7e;
            text-decoration: underline;
        }   
    }

    &__info {
        font-size: 14px;
        height: 70px;
        display: block;
    }

    &__order {
        display: block;
        margin: 20px -20px -20px 0px;
        text-align: right;
    }

    &__button {
        display: inline-block;   
    }
}