.category {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: -5px;
    margin-right: -5px;
    &__item {
        display: flex;
        width: 25%;
        padding: 5px;
    }

    @include lg() {
        &__item {
            width: 33.33%;
        }
    }
    @include md() {
        &__item {
            width: 50%;
        }
    }
}
