include ../components/breadcrumbs
include ../components/card-photos
include ../components/category
include ../components/form
include ../components/gallery
include ../components/list
include ../components/mainSlider
include ../components/menu
include ../components/pagination
include ../components/seoText
include ../components/socials
include ../components/table
