-
    var config = {
        pathImg: './assets/img/files',
        logo: 'logo.png',
        logoFooter: 'logo-footer.png',
        phones: ['+7 (9999) 99-99-99', '+7 (999) 999-99-99'],
        adress: ['г. Москва, Тульская ул.'],
        email: ['info@site.ru'],
        copyright: '© 2018. Все права защищены.',
        counter: 'counter.png',
        site: {
            name: 'Сайт',
            link: 'http://site.ru/'
        }
    }