-
    //- menu

    var menu = [
        { name: 'Пункт 1', link: '#', subMenu: [
            { name: 'Под-пункт 1', link: '#', classActive: 'active'},
            { name: 'Под-пункт 2', link: '#'},
            { name: 'Под-пункт 3', link: '#'},
            { name: 'Под-пункт 4', link: '#'},
            { name: 'Под-пункт 5', link: '#'}
        ]},
        { name: 'Пункт 2', link: '#', classActive: 'active'},
        { name: 'Пункт 3', link: '#'},
        { name: 'Пункт 4', link: '#'},
        { name: 'Пункт 5', link: '#'}
    ]

    var topMenu = { className: 'top-menu', items: menu, levels: 2 }
    var mobileMenu = { className: 'mobile-menu', items: menu, levels: 2 }
    var footerMenu = { className: 'footer-menu', items: menu }

    var leftMenu = { className: 'left-menu', items: [
        { name: 'Категория 1', link: '#', subMenu: [
            { name: 'Подкатегория 1', link: '#', classActive: 'active' },
            { name: 'Подкатегория 2', link: '#' },
            { name: 'Подкатегория 3', link: '#' },
            { name: 'Подкатегория 4', link: '#' }
        ]},
        { name: 'Категория 2', link: '#', classActive: 'active' },
        { name: 'Категория 3', link: '#' },
        { name: 'Категория 4', link: '#' },
        { name: 'Категория 5', link: '#' }
    ], levels: 2 }



    //- breadcrumbs

    var breadcrumbs = { className: 'breadcrumbs', items: [
        { name: 'Главная', link: '/' },
        { name: 'Хлебные крошки', link: '/#' },
        { name: 'Текущая страница', link: '' }
    ] }



    //- pagination

    var pagination = { className: 'pagination', items: [
        {name: 1, link: '#'},
        {name: 2, link: '#', classActive: 'active'},
        {name: 3, link: '#'},
        {name: 4, link: '#'}
    ] }



    //- socials

    var socials = { className: 'socials', items: [
        { icon: 'icon icon-vk', link: '#vk'},
        { icon: 'icon icon-fb', link: '#fb'},
        { icon: 'icon icon-ins', link: '#ins'}
    ] }



    //- seo text

    var seoText = {className:'seo-text', name: 'Дополнительная информация'}



    //- forms

    var pageForm = {className: 'page-order', items: [
        { type: 'text', typeClass: 'form-field', caption: 'Представьтесь:', name: 'name', typeName: 1 },
        { type: 'text', typeClass: 'form-field', caption: 'Контактный телефон:', name: 'phone', iconName: 'icon-phone', maskClass: 'mask-phone', typeName: 1 },
        { type: 'textarea', typeClass: 'form-field', caption: 'Сообщение:', name: 'message', typeName: 1 },
        { type: 'button', typeClass: 'button', caption: 'Заказать', name: 'button', buttonEffect: 'button-effect', buttonModEffect: 'fade' },
        { type: 'checkbox', typeClass: 'checkbox', caption: 'Я прочитал и согласен с правилами <a target="_blank" href="#">Политика конфиденциальности</a>', name: 'police', dataValue: 'yes' },
        { type: 'hidden', typeClass: 'field-hidden', name: 'page' }
    ] }

    var poupForm = {className: 'popup-order', items: [
        { type: 'text', typeClass: 'form-field', caption: 'Представьтесь:', name: 'name', typeName: 1 },
        { type: 'text', typeClass: 'form-field', caption: 'Контактный телефон:', name: 'phone', maskClass: 'mask-phone', typeName: 1 },
        { type: 'textarea', typeClass: 'form-field', caption: 'Сообщение:', name: 'message', typeName: 1 },
        { type: 'checkbox', typeClass: 'checkbox', caption: 'Я прочитал и согласен с правилами <a target="_blank" href="#">Политика конфиденциальности</a>', name: 'police', dataValue: 'yes' },
        { type: 'button', typeClass: 'button', caption: 'Заказать', name: 'button', buttonEffect: 'button-effect', buttonModEffect: 'fade' },
        { type: 'hidden', typeClass: 'field-hidden', name: 'page' }
    ] }



    //- контакты

    var phone1 = {className:'phone', iconClass: 'icon-office-telephone', text: config.phones[0]}
    var phone2 = {className:'phone', iconClass: 'icon-office-telephone', text: config.phones[1]}

    var phoneFooter1 = {className:'phone', iconClass: 'icon-office-telephone-footer', text: config.phones[0]}
    var phoneFooter2 = {className:'phone', iconClass: 'icon-phone-footer', text: config.phones[1]}

    var adress = {className:'adress', iconClass: 'icon-adress', text: config.adress[0]}
    var email = {className:'email', iconClass: 'icon-email', text: `<a href='mailto:${config.email[0]}'>${config.email[0]}</a>`}


    

    

    