-
    var menu = [
        ['Главная', '/'],
        ['Категории', 'category.html'],
        ['Типографика', 'typography.html'],
        ['Каталог', 'catalog.html'],
        ['Товар', 'product.html'],
        ['Пункт', '#']
    ]

    var left_menu = [
        ['Категория 1', '#', [
            ['Подкатегория 1', '#'],
            ['Подкатегория 2', '#'],
            ['Подкатегория 3', '#'],
            ['Подкатегория 4', '#']   
        ]],
        ['Категория 2', '#'],
        ['Категория 3', '#'],
        ['Категория 4', '#'],
        ['Категория 5', '#']
    ]

    var breadcrumbs = [
        ['Главная', '/'],
        ['Хлебные крошки', '#'],
        ['Текущая страница', '']
    ]

    var main_slider = [
        ['./assets/img/files/slide-1.jpg','#link1'],
        ['slider-2.jpg',''],
        ['slider-3.jpg','#link3']
    ]

    var poup_form = [
        ['form-field','Представьтесь:','name','text',''],
        ['form-field','Контактный телефон:','phone','text','','','mask-phone'],
        ['form-field','Сообщение:','massage','textarea',''],
        ['checkbox','Я прочитал и согласен с правилами <a target="_blank" href="#">Политика конфиденциальности</a>','checkbox','checkbox','','yes'],
        ['button','Заказать','button','button',''],
        ['field-hidden','','page','hidden','']
    ]

    var page_form = [
        ['form-field','Представьтесь:','name','text',''],
        ['form-field','Контактный телефон:','phone','text','phone','','mask-phone'],
        ['form-field','Сообщение:','massage','textarea',''],
        ['button','Рассчитать стоимость','button','button',''],
        ['checkbox','Я прочитал и согласен с правилами <a target="_blank" href="#">Политика конфиденциальности</a>','checkbox','checkbox','','yes'],
        ['field-hidden','','page','hidden','']
    ]

    var socials = [
        ['icon icon-vk','#vk'],
        ['icon icon-fb','#fb'],
        ['icon icon-ins','#ins']
    ]