extends ./settings/template

block variables
    - var title = 'Каталог'
    -
        var products = [
            ['prod-1.jpg', 'Трал NOOTEBOOM', 'Масса перевозимого груза (в тоннах): до 39 тонн Минимальный заказ: 8 часов', 'от 50 руб./км', '#'],
            ['prod-2.jpg', 'Трал NOOTEBOOM', 'Масса (в тоннах): до 39 тонн Минимальный заказ: 8 часов', 'от 50 руб./км', '#'],
            ['prod-3.jpg', 'Трал NOOTEBOOM', 'Масса перевозимого груза (в тоннах): до 39 тонн Минимальный заказ: 8 часов', 'от 50 руб./км', '#'],
            ['prod-1.jpg', 'Трал NOOTEBOOM', 'Масса перевозимого груза (в тоннах): до 39 тонн Минимальный заказ: 8 часов', 'от 50 руб./км', '#'],
            ['prod-2.jpg', 'Трал NOOTEBOOM', 'Масса перевозимого груза (в тоннах): до 39 тонн Минимальный заказ: 8 часов', 'от 50 руб./км', '#'],
            ['prod-3.jpg', 'Трал NOOTEBOOM', 'Масса перевозимого груза (в тоннах): до 39 тонн Минимальный заказ: 8 часов', 'от 50 руб./км', '#'],
            ['prod-1.jpg', 'Трал NOOTEBOOM', 'Масса перевозимого груза (в тоннах): до 39 тонн Минимальный заказ: 8 часов', 'от 50 руб./км', '#']
        ]

block content
    .page-wrap
        .container.content
            .row
                .col-xs-3.content__left
                    +menu("left-menu", left_menu, 2)
                .col-xs-12.col-lg-9.content__right
                    +breadcrumbs('breadcrumbs', breadcrumbs)

                    h1.page-title-1 Заголовок H1

                    .catalog-products
                        +products('catalog-products', 'product-item', products) 


        
