extends ./settings/template/_index

block variables
    - var title = 'Каталог'
    -
        var category = { className: 'category', classItem: 'category-item', items: [
            { image: 'cat-1.jpg', name: 'Подкатегория 1 <br> dop', link: '#' },
            { image: 'cat-2.jpg', name: 'Подкатегория 2', link: '#' },
            { image: 'cat-3.jpg', name: 'Подкатегория 3', link: '#' },
            { image: 'cat-4.jpg', name: 'Подкатегория 4', link: '#' },
            { image: 'cat-1.jpg', name: 'Подкатегория 1 <br> dop', link: '#' },
            { image: 'cat-2.jpg', name: 'Подкатегория 2', link: '#' },
            { image: 'cat-3.jpg', name: 'Подкатегория 3', link: '#' },
            { image: 'cat-4.jpg', name: 'Подкатегория 4', link: '#' }
        ] }

block content
    .container.content
        .row
            .col-xs-3.col-lg-4.col-xl-3.content__left
                +menu(leftMenu)
            .col-xs-12.col-lg-8.col-xl-9.content__right
                +breadcrumbs(breadcrumbs)

                h1.content-title Заголовок H1

                .category
                    +category(category) 

                +pagination(pagination) 


        
