extends ./settings/template

block variables
    - var title = 'Каталог'
    -
        var catalog = [
            ['cat-1.jpg', 'Подкатегория 1 <br> dop', '#'],
            ['cat-2.jpg', 'Подкатегория 2', '#'],
            ['cat-3.jpg', 'Подкатегория 3', '#'],
            ['cat-4.jpg', 'Подкатегория 4', '#'],
            ['cat-4.jpg', 'Подкатегория 5', '#'],
            ['cat-3.jpg', 'Подкатегория 6', '#'],
            ['cat-2.jpg', 'Подкатегория 7', '#'],
            ['cat-1.jpg', 'Подкатегория 8', '#']
        ]

block content
    .page-wrap
        .container.content
            .row
                .col-xs-3.content__left
                    +menu("left-menu", left_menu, 2)
                .col-xs-12.col-lg-9.content__right
                    +breadcrumbs('breadcrumbs', breadcrumbs)

                    h1.page-title-1 Заголовок H1

                    .catalog
                        +category('catalog__item', 'catalog-item', catalog) 


        
