body
    link(rel="stylesheet", href="./assets/css/app.css")
    script(src='assets/js/app.js' defer)

    link(rel="stylesheet", href="./assets/img/sprite/sprite.css")
    h1.title start
    .flex-test
        .icon-fb
        .icon-vk