extends ./settings/template/_index

block variables
    - var title = 'Типографика'
    -
        var photoGallery = { className: 'gallery', items: [
            {smallImg: 'gall.jpg', bigImg: 'gall.jpg', name: 'img-1'},
            {smallImg: 'gall.jpg', bigImg: 'gall.jpg', name: 'img-2'},
            {smallImg: 'gall.jpg', bigImg: 'gall.jpg', name: 'img-3'}
        ]}

        var ulList = { className: '', items: [
                {name: 'маркированный список'},
                {name: 'маркированный список'},
                {name: 'маркированный список'},
                {name: 'маркированный список'},
                {name: 'маркированный список'},
                {name: 'маркированный список'}
            ]
        }

        var olList = { className: '', items: [
                {name: 'маркированный список', link: ''},
                {name: 'маркированный список', link: ''},
                {name: 'маркированный список', link: ''},
                {name: 'маркированный список', link: ''},
                {name: 'маркированный список', link: ''},
                {name: 'маркированный список', link: ''}
            ]
        }

        var tabel = { className:'', items: [
            [`value`,`value`],
            [`value`,`value`]
        ] }

        

block content
    .container.content
        .row
            .col-xs-3.col-lg-4.col-xl-3.content__left
                +menu(leftMenu)
                
            .col-xs-12.col-lg-8.col-xl-9.content__right.typography
                +breadcrumbs(breadcrumbs)

                h1 Заголовок H1
                h2 Заголовок H2
                h3 Заголовок H3
                h4 Заголовок H4
                h5 Заголовок H5

                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                
                p.info-box Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.

                ul
                    +list(ulList)

                ol
                    +list(olList)

                div.gallery.lists-clear
                    +gallery(photoGallery)

                table
                    tbody
                        +table(tabel)

                .page-order
                    .page-order__head Расчет стоимости перевозки:
                    form.page-order__form
                        +form(pageForm)

                +seoText(seoText)
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    p.info-box Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.


                    