.button {
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    text-align: center;
    background: #314b7e;
    transition-property: all;
    transition-duration: 0.7s;
    &:hover {
        background: #7889aa;
        color: #fff;
    }
    &:active {
        background: #273b63;
        color: #fff;
    }
}

.button_inline {
    display: inline-block;
}
