.button {
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background: #314b7e;
    transition-property: all;
    transition-duration: 0.7s;
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}
