// -- grids --

$xs: 420px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1260px;

@import 'settings/grids/flexgrid.scss';
//@import "settings/grids/floatgrid.scss";

// -- fonts --

@import '../fonts/**/*';

// -- settings --

@import 'settings/mixins.scss';
@import 'settings/fonts.scss';
@import 'settings/base.scss';

// -- components --
@import 'components/**/*';
