.header {
    padding: 15px 0px;
    background: #ffffff;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -$indent-col;
        margin-right: -$indent-col;
    }

    &__item {
        width: 25%;
        padding-left: $indent-col;
        padding-right: $indent-col;
    }

    &_mmenu {
        display: none;
    }

    @include lg() {
        &_info {
            display: none;
        }
        &_order {
            display: none;
        }
        &_mmenu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    @include sm() {
        &_logo {
            width: 40%;
        }
    }
}
