.header {
    padding: 15px 0px;
    background: #ffffff;

    &__row {
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        width: 70%;
    }

    &__phone {
        margin-bottom: 5px;
        width: 50%;
    }

    &__adress {
        width: 50%;
    }

    &__email {
        width: 50%;
    }

    &__info-row {
    }

    &__order {
        width: 30%;
    }

    &__mmenu {
        display: none;
    }
}

.header {
    &__info {
        @include lg() {
            display: none;
        }
    }

    &__order {
        @include lg() {
            display: none;
        }
    }

    &__mmenu {
        @include lg() {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}
