.seo-text {
    margin-top: 30px;
    margin-bottom: 20px;

    &__head {
        cursor: pointer;
        text-decoration: underline;
        color: #314b7e;
        font-weight: 300;
        &:hover {
            text-decoration: none;
        }
    }

    &__body {
        color: #484848;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        padding: 10px 0px 0px;
        display: none;
        & p {
            margin: 10px 0px;
        }
    }

    @include md() {
        &__body {
            padding: 10px 0px 0px;
        }
    }
}
