.main-gallery {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: block; 
        @include xl() {
            width: 14.28%;
        };

        @include md() {
            width: 25%;
        };
    }

    &__link {
        display: block;
        position: relative;
        transition-property: all;
        transition-duration: .7s;
        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background: rgba($color: #000000, $alpha: 0.2);
            transition-property: background-color;
            transition-duration: .7s;
        }  
        &:hover{
            transform: skew(-10deg, 10deg);
            &:after {
                background-color: transparent;
            }
        }
    }

    &__img {
        display: block;    
    }
}