.main-category {
    padding: 0px 30px;
    margin: 0px -35px 40px -35px;
    border: 0px;
    background: transparent;

    &:hover {
        & .slick-arrow {
            opacity: 1;
        }
    }
    & .slick-track {
        align-items: stretch;
    }
    &__item {
        padding: 0px 5px;
        align-items: stretch;
    }
    & .slick-slide {
        display: block;
    }
    & .slick-arrow {
        @include centered(y);
        width: 20px;
        height: 38px;
        border: none;
        z-index: 2;
        font-size: 0px;
        cursor: pointer;
        outline: none;
        background: transparent;
        opacity: 0;
        transition-property: all;
        transition-duration: 0.7s;
        &:hover {
            &:after {
                color: #253a65;
                // background: url('../img/s-act-arrow.png') center center
                //     no-repeat;
            }
        }
        &:after {
            content: '';
            @include FontAwesome();
            font-size: 40px;
            color: #ccc;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            // background: url('../img/s-arrow.png') center center no-repeat;
            transition-property: all;
            transition-duration: 0.7s;
            display: block;
        }
    }

    & .slick-prev {
        left: 0px;
        &:after {
            content: '\f104';
        }
    }

    & .slick-next {
        right: 0px;
        &:after {
            content: '\f105';
        }
    }
}

.main-category {
    @include md() {
        padding: 0px 0px;
        margin: 0px -5px 40px -5px;
    }

    & .slick-arrow {
        @include md() {
            display: none !important;
        }
    }
}
