.header {
    padding: 15px 0px;
    background: $header-bg;

    &__row {
        align-items: center;
    }

    &__info {
        text-align: center;
        @include lg() {
            display: none;    
        }
    }

    &__order {
        @include lg() {
            display: none;    
        }
    }

    &__mmenu {
        display: none;
        @include lg() {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}