// -- main --

$body-bg : #f1f2f4;
$color : #474747;



// -- link,buttons --

$color-link : #314b7e;
$color-link-hover : #79ade5;



// -- header --

$header-bg : #ffffff;



// -- top-menu --

$top-menu-bg : #314b7e;
$top-menu-act-bg : #253a65;
$top-menu-color : #ffffff;
$top-menu-act-color : #ffffff;



// -- mobile-menu --

$mmenu-bg : #253a65;
$mmenu-header-bg : #253a65;
$mmenu-color-active : #253a65;



// -- footer --

$footer-top-bg : #253a65;
$footer-bottom-bg : #1a2947;