header.header
    .container
        .header__row
            .header__item.header_logo
                a(href="/").logo
                    img.header__image(src=`${config.pathImg}/${config.logo}` alt='')    
            .header__item.header_info
                .header__phone
                    +icon-text(phone1)
                .header__adress
                    +icon-text(adress)
            .header__item.header_info
                .header__phone
                    +icon-text(phone2)
                .header__email
                    +icon-text(email)
            .header__item.header_order
                a.header__button-order.button.popup-with-form(href="#popup-order"  data-effect="mfp-zoom-in").button-effect.button-effect_singularity
                    span.button-effect__text Обратный звонок
            .header__item.header_mmenu
                a.mmenu(href="#mmenu")
                    span.mmenu__item 
                    span.mmenu__item 
                    span.mmenu__item 
nav.top-menu-header
    .container
        +menu(topMenu)
            