header.header
    .container
        .row.header__row
            .col-xs-5.col-lg-3.header__logo
                a(href="/").logo
                    img.header__image(src=`${config.pathImg}/${config.logo}` alt='')    
            .col-md-9.col-lg-6.header__info 
                .row 
                    .col-xs-6
                        .phone 
                            .phone__icon.icon-office-telephone   
                            .phone__number !{config.phones[0]}
                    .col-xs-6
                        .phone 
                            .phone__icon.icon-phone   
                            .phone__number !{config.phones[1]}

            .col-xs-3.header__order
                a.header__button-order.button.button_red.popup-order-open Обратный звонок
            .col-xs-7.header__mmenu
                a.mmenu(href="#mmenu")
                    span.mmenu__item 
                    span.mmenu__item 
                    span.mmenu__item 
nav.top-menu-header
    .container
        +menu(topMenu)
            